<p>profile works!</p>

<div  *ngIf="this.validacionURL.pruebaRuta()" class="row d-flex justify-content-center">
    <br>
    <div class="col-md-3">  <h1 style="align-self: center;"><b><mat-label>CAMBIAR ESTADO DE USUARIO</mat-label></b></h1></div>
    <h2 style="align-self: center;"><mat-label>Registro Academico: {{usuario.registroAcademico}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Estado del perfil: {{usuario.estado}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Rol del usuario: {{usuario.rolUsuario}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Departamento: {{usuario.ciudad}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Correo Electronico: {{usuario.correoElectronico}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Fecha de Nacimiento: {{usuario.fechaDeNacimiento}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Genero: {{usuario.genero}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Nombre Completo: {{usuario.nombreCompleto}} </mat-label></h2>
    <h2 style="align-self: center;"><mat-label> Privacidad: {{usuario.privacidad}} </mat-label></h2>

    <div class="example-button-row">
        <button mat-flat-button color="primary"  (click)="cambiarEstado()"  >CAMBIAR ESTADO DEL USUARIO A: {{this.mensajeEstadoBoton()}}<mat-icon>done</mat-icon></button>          
      </div>
    <!-- <h2 style="align-self: center;"><mat-label> Foto de perfil: {{usuario.fotoDePerfil}} </mat-label></h2> -->

</div>




