<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>whatshot</mat-icon>ComunidAD2</span>

    <div class="spacer"></div>

    <a mat-button routerLink="inicio">Inicio</a>
    <a mat-button routerLink="profile">Perfil</a>
    <a mat-button routerLink="dashboard">Tablero</a>
    <a mat-button routerLink="crearUsuario">Crear Usuario</a>
    <a mat-button routerLink="changePassword">Change Password</a>
    <a mat-button routerLink="editProfile">Editar Perfil</a>
    <a mat-button >Nosotros</a>
    <a mat-raised-button color="accent" routerLink="login">Iniciar Sesion</a>
</mat-toolbar>
