<mat-card class="card border-info mb-3" style="margin: 20px;">

    <mat-card-title>
        Cambiar contraseña
    </mat-card-title>

    <mat-card-content>
        <div *ngIf="!this.selectedUser">

            <div style="padding-top: 10px;color: lightslategrey;">
                <h2>Seleccione el usuario</h2>
            </div>

            <!-- BUSCADOR -->
            <form>
                <div class="form-group form-inline">
                    Buscar: <input class="form-control ml-2" type="text" [formControl]="filter" />
                </div>
            </form>

            <!-- TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Registro Academico</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Correo Electronico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users$ | async; index as i" (click)="selectUser(user)">
                        <td scope="row">{{ i + 1 }}</td>
                        <td>
                            <ngb-highlight [result]="user.registroAcademico" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="user.nombreCompleto" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="user.correoElectronico" [term]="filter.value"></ngb-highlight>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.selectedUser">
            <form [formGroup]="registerForm" class="text-center row row-content justify-content-center align-items-center border border-light p-5">

                <p class="h4 mb-4">Ingresa la nueva contraseña para:</p>
                <p class="h4 mb-4" style="color: lightslategrey;">{{this.selectedUserObject.nombreCompleto}} -
                    {{this.selectedUserObject.registroAcademico}}</p>

                <!-- Password -->
                <mat-form-field class="col-sm-8" appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        [ngClass]="{ 'is-invalid':f.password.errors }">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Contraseña requerida</div>
                        <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</div>
                    </div>
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field class="col-sm-8" appearance="fill">
                    <mat-label>Confirmación contraseña</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid':f.confirmPassword.errors }">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirmación de contraseña requerida</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir</div>
                    </div>
                </mat-form-field>

                <!-- ALERTS -->
                <div class="col-sm-8" style="margin-top: 10px;">
                    <ngb-alert type="danger" *ngIf="alertClosedDanger" (closed)="alertClosedDanger = false">
                        <strong>Error: </strong> Debes cumplir con los requisitos previos
                    </ngb-alert>
                    <ngb-alert type="warning" *ngIf="alertClosedWarning" (closed)="alertClosedWarning = false">
                        Si aceptas cambiar la contraseña, esta se cambiará permanentemente
                    </ngb-alert>
                    <ngb-alert type="success" *ngIf="alertClosedSuccess"
                        (closed)="alertClosedSuccess = false">Check out our awesome new
                        features!</ngb-alert>
                </div>

                <div>
                    <!-- Change Password Button -->
                    <button style="padding: 10px; margin: 10px;" class="col-sm-3 selectionButton" mat-raised-button
                        (click)="cambiarContraseniaButton()" color="primary">CAMBIAR
                        CONTRASEÑA</button>

                    <!-- Cancel Button -->
                    <button style="padding: 10px; margin: 10px;" class="col-sm-3 selectionButton" mat-raised-button
                        (click)="cancelarButton()" color="warn">CANCELAR</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>