<mat-card class="card border-info mb-3" style="margin: 20px;">
    <mat-card-title>
        Cambiar contraseña
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="!this.selectedUser">
            <div style="padding-top: 10px;color: lightslategrey;">
                <h2>Seleccione el usuario</h2>
            </div>
            <form>
                <div class="form-group form-inline">
                    Buscar: <input class="form-control ml-2" type="text" [formControl]="filter" />
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Registro Academico</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Correo Electronico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users$ | async; index as i" (click)="selectUser(user)">
                        <td scope="row">{{ i + 1 }}</td>
                        <td>
                            <ngb-highlight [result]="user.registroAcademico" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="user.nombreCompleto" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="user.correoElectronico" [term]="filter.value"></ngb-highlight>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.selectedUser">
            <form class="text-center row row-content justify-content-center align-items-center border border-light p-5">

                <p class="h4 mb-4">Ingrese la nueva contraseña para:</p>
                <p class="h4 mb-4" style="color: lightslategrey;">{{this.selectedUserObject.nombreCompleto}} -
                    {{this.selectedUserObject.registroAcademico}}</p>

                <!-- Password -->
                <mat-form-field class="col-sm-8" appearance="fill">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field class="col-sm-8" appearance="fill">
                    <mat-label>Confirmación contraseña</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <p>Si aceptas cambiar la contraseña, esta se cambiará permanentemente </p>

                <!-- Change Password Button -->
                <button style="padding: 10px; margin: 10px;" class="col-sm-3 selectionButton" mat-raised-button
                    (click)="openModalConfirm()" color="primary">CAMBIAR CONTRASEÑA</button>

                <!-- Cancel Button -->
                <button style="padding: 10px; margin: 10px;" class="col-sm-3 selectionButton" mat-raised-button
                    (click)="cancelarButton()" color="warn">CANCELAR</button>

                <!-- ALERTS -->
                <div class="col-sm-8" style="margin-top: 10px;">
                    <ngb-alert type="danger" #staticAlert *ngIf="!alertClosedSuccess"
                        (closed)="alertClosedSuccess = true">Check out our awesome new
                        features!</ngb-alert>
                    <ngb-alert [dismissible]="false" type="success">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                    <ngb-alert [dismissible]="false" type="warning">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </ngb-alert>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>