<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <mat-card>
                    <mat-card-content>
                        <div class="row align-items-center text-center justify-content-sm-center">
                            <div class="profile-pic" [style.background-image]="this.styleBackgroundImage">
                                <mat-icon *ngIf="profileOwner">photo_camera</mat-icon>
                                <span *ngIf="profileOwner">Cambiar Imagen</span>
                                <input *ngIf="profileOwner" type="file" accept="image/*" id="wizard-picture"
                                    (change)="onSelectFile($event)">
                            </div>
                            <div>
                                <div class="d-flex justify-content-center">
                                    <div class="titleProfileText">
                                        <p>{{actualUser.nombreCompleto}}</p>
                                    </div>
                                    <div *ngIf="profileOwner">
                                        <a class="btn btn-light" (click)="goToEditProfile()"
                                            style="margin: 0px;padding: 0px;">
                                            <div class="titleProfileIcon">
                                                <mat-icon [inline]="true">edit</mat-icon>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div style="margin: 10px;">
                                    <div class="d-flex justify-content-center">
                                        <div class="primaryProfileIcon">
                                            <mat-icon [inline]="true">assignment_ind</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="text-secondary">{{actualUser.registroAcademico}}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="primaryProfileIcon">
                                            <mat-icon [inline]="true">{{userRolIcon}}</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="text-secondary">{{actualUser.rolUsuario}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-4">
                                        <button mat-icon-button="primary" (click)="cambiarEstado()">
                                            <mat-icon [inline]="true" class="material-icon md-36">{{userStateIcon}}
                                            </mat-icon>
                                        </button>
                                        <p class="p iconText">{{userStateText}}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <button mat-icon-button="accent" (click)="changeUserPrivacy()">
                                            <mat-icon [inline]="true" class="material-icon md-36">{{userPrivacyIcon}}
                                            </mat-icon>
                                        </button>
                                        <p class="p iconText">{{userPrivacyText}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div *ngIf="!isNonPublicProfile() || profileOwner" class="mt-3">
                    <mat-card>
                        <div class="titleProfileText">
                            <p>Acerca del Usuario</p>
                        </div>
                        <mat-card-content>
                            Breve descripcion del perfil del usuario
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <mat-card>
                        <mat-card-content>
                            <div *ngIf="!isNonPublicProfile() || profileOwner">
                                <div class="titleProfileText">
                                    <p>Informacion</p>
                                </div>
                                <a class="list-group-item list-group-item-action">
                                    <div class="d-flex">
                                        <div class="profileIcon">
                                            <mat-icon [inline]="true">{{userGenderIcon}}</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="mb-1">{{userGenderText}}</p>
                                        </div>
                                        <!-- <h5 class="mb-1">Tipo de Usuario</h5> -->
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action">
                                    <div class="d-flex">
                                        <div class="profileIcon">
                                            <mat-icon>cake</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="mb-1">{{getFormatedTime(actualUser.fechaDeNacimiento)}}</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action">
                                    <div class="d-flex">
                                        <div class="profileIcon">
                                            <mat-icon>email</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="mb-1">{{actualUser.correoElectronico}}</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item list-group-item-action">
                                    <div class="d-flex">
                                        <div class="profileIcon">
                                            <mat-icon>place</mat-icon>
                                        </div>
                                        <div class="profileSecondText">
                                            <p class="mb-1">{{actualUser.ciudad}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div *ngIf="!isNonPublicProfile() || profileOwner" class="content">
                    <mat-card>
                        <div class="row justify-content-sm-center">
                            <div class="col-sm-12">
                                <div *ngIf="!usuarioTieneComunidades" class="titleProfileText">
                                    <p>Sin comunidades</p>
                                </div>
                                <div *ngIf="usuarioTieneComunidades" class="titleProfileText">
                                    <p>Comunidades</p>
                                </div>

                            </div>
                        </div>
                        <div fxLayout="row wrap" fxLayoutGap="18px grid" fxLayoutAlign="center start">
                            <div fxFlex="30%" fxFlex.xs="100%" fxFlex.md="33%" *ngFor="let data of comunidades">
                                <mat-card class="mat-elevation-z2">
                                    <img mat-card-image *ngIf="data.comunity?.foto"
                                    [src]='getImage(data.comunity?.datosFoto)'>
                                    <mat-card-content>
                                        <div class="community-card-title">
                                            <p>{{data.comunity?.nombre}}</p>
                                        </div>
                                        <div class="community-card-p">
                                            <p>{{data.comunity?.descripcion}}</p>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <div class="d-flex justify-content-center">
                                            <button mat-icon-button="primary" (click)="verComunidad(data.comunity?.id)">
                                                <mat-icon [inline]="true" class="material-icon md-24">visibility
                                                </mat-icon>
                                            </button>
                                            <button mat-icon-button="primary">
                                                <mat-icon [inline]="true" class="material-icon md-24">share
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>