<div *ngIf=verificarSesionUsuarioComunidad()>
    <div class="text-center">
        <h1>Terminos de busqueda</h1>
    </div>
    <!--
        Buscar por fecha
        Buscar pro curso
        Buscar por fecha y curso
        Buscar por nombre
        Al principio solo cargar 10
    -->

    <!--Div que contendra los cards de las comunidades-->
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
            <mat-card class="mat-elevation-z4" >
              <mat-card-header>
                <mat-card-title>Mountains {{num}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="https://as.com/meristation/imagenes/2020/09/25/noticias/1601026490_839436_1601026612_noticia_normal_recorte1.jpg">
              <mat-card-content>
                <p>
                  The Himalayas is a mountain range in Asia.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        </div>
</div>

